%button {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}
.button-primary {
  @extend %button;
  @include set-background(lighten($primary-color, 10%));
}
.button-secondary {
  @extend %button;
  @include set-background(lighten($secondary-color, 10%));
}
